.add {
    background: rgb(225, 231, 234);
    box-sizing: border-box;
    width: 100%;
    color: white;
    align-items: center;
    
  }

  .add .invalid{
    
    font-size: 15px;
    font-style: bold;
    color: red;
    margin-left: 160%;
    width: 100%;
  }

  
 
 .add h1{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -5%;
    margin-bottom: 6%;
  
}



.add input[type=text], select, textarea {
  width: 83%;
  padding: 12px;
  border: 1px solid rgb(255, 164, 164);
  border-radius: 4px;
  resize: vertical;
  margin-top: 5%;
  margin-left: 200%;
}
.add input[type=number], select, textarea {
  width: 83%;
  height: 10%;
  padding: 12px;
  border: 1px solid rgb(255, 164, 164);
  border-radius: 4px;
  resize: vertical;
  margin-left: 200%;
}
.add input[type=email], select, textarea {
  width: 83%;
  height: 10%;
  padding: 12px;
  border: 1px solid rgb(255, 164, 164);
  border-radius: 4px;
  resize: vertical;
  margin-left: 200%;
}

.add label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-left: 750%;
  font-size: 19px;
  text-shadow:  #000000;
  font-family: Arial, Helvetica, sans-serif;
 
}



.add input[type=reset] {
  background-color: #ff9736;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-left: 20px;
}

.add input[type=submit]:hover {
  background-color: #f0b364;
}

.add .container {
  border-radius: 5px;
  
  padding: 20px;
}

.add .col-25 {
  float: left;
  width: 15%;
  margin-top: 15px;
}

.add .col-75 {
  float: left;
  width: 70%;
  margin-top: 9px;
}

/* Clear floats after the columns */
.add .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 200px) {
 .add .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 5%;
  }
}



.add h1{

  text-align: center;
  background-color: #ff9736;
  width: 20%;
  transform: translate(200%, 100%);
  border-radius: 2em;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 0px;

  
  
}

.add h2{

text-align: center;
background-color: #ff9736;
width: 40%;
margin-top: -7%;
border-radius: 25px;
font-family: 'Josefin Sans', sans-serif;
margin-left: 40%;
padding-top: 10px;
padding-bottom:10px;


}

.imgtext{
    margin-top: 10%;
}

.add input[type=submit] {
    background-color: #07001d;
    border: solid #ffea00;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 10px rgba(0,0,0,.6);
    border-radius: 10px;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    margin-left: 265%;
    margin-top: -10%;
    font-size: 16px;
  }

    